build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |-
    #/bin/sh 
    docker-compose -f docker-compose.yml up --build -d
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: docker-compose.yml
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2023-02-23T04:46:15.321Z
